* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

  height: 90vh;

  --main-axis-text-margin: -30px;
  --cross-axis-text-margin: calc(var(--main-axis-text-margin)*2);
  --main-hint-text: 'Основная ось';
  --cross-hint-text: 'Вспомогательная ось';
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 10px solid black;
  width: 500px;
  height: 500px;
}

.justyfy-align-item-hint {
  padding: 4px 10px;
}

.item {
  width: 50px;                                                            
  height: 50px;

  font-size: 2em;
  color: white;
  text-align: center;

  background-color: teal;
  border: 5px solid red;
}

.flexContainer {
  display: flex;
  /* Проверить задав flex-end */
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-dir-row {
  flex-direction: row;
}

.flex-dir-column {
  flex-direction: column;
}

.flex-dir-row-rev {
  flex-direction: row-reverse;
}

.flex-dir-column-rev {
  flex-direction: column-reverse;
}

.svg-container {
  position: relative;
}

.svg-container::before {
  position: absolute;
  content: var(--main-hint-text);
  color: blue;

  bottom: var(--main-axis-text-margin);
}

.svg-container::after {
  position: absolute;
  content: var(--cross-hint-text);
  color: red;

  bottom: var(--cross-axis-text-margin);
}

.svg-container::before,
.svg-container::after {
  left: 0;
}

svg {
  width: 50px;
  height: 50px;
  fill: black;
  display: none;
}

.flex-dir-row + .svg-container > .right {
  fill: blue;
  display: inline;
}

.flex-dir-row + .svg-container > .down {
  fill: red;
  display: inline;
}

.flex-dir-column + .svg-container > .down{
  fill: blue;
  display: inline;
}

.flex-dir-column + .svg-container > .right {
  fill: red;
  display: inline;
}

.flex-dir-row-rev + .svg-container > .left {
  fill: blue;
  display: inline;
}

.flex-dir-row-rev + .svg-container > .down {
  fill: red;
  display: inline;
}

.flex-dir-column-rev + .svg-container > .up {
  fill: blue;
  display: inline;
}

.flex-dir-column-rev + .svg-container > .right {
  fill: red;
  display: inline;
}