* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

  --main-axis-text-margin: -100px;
  --addit-axis-text-margin: calc(var(--main-axis-text-margin)*1.3);
}

.justyfy-align-item-hint {
  padding: 4px 10px;
}

.container {
  border: 10px solid black;
  position: relative;
  width: 500px;
  height: 500px;
}

.item {
  width: 50px;
  height: 50px;

  font-size: 2em;
  color: white;
  text-align: center;

  background-color: teal;
  border: 5px solid red;
}

.flexContainer {
  display: flex;
}

.flex-dir-row {
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-dir-column {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-dir-row-rev {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-dir-column-rev {
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-end;
}

svg {
  width: 50px;
  height: 50px;
  fill: black;
  display: none;
}

.up {
  fill: blue;
}

.flex-dir-row::before {
  position: absolute;
  content: 'Основная ось Вправо';
  color: blue;

  bottom: var(--main-axis-text-margin);
}

.flex-dir-row::after {
  position: absolute;
  content: 'Вспомогат ось Вниз';
  color: red;

  bottom: var(--addit-axis-text-margin);
}

.flex-dir-row + .svg-container > .right {
  fill: blue;
  display: inline;
}

.flex-dir-row + .svg-container > .down {
  fill: red;
  display: inline;
}

.flex-dir-column::before {
  position: absolute;
  content: 'Основная ось Вниз';
  color: blue;

  bottom: var(--main-axis-text-margin);
}

.flex-dir-column::after {
  position: absolute;
  content: 'Вспомогат ось Вправо';
  color: red;

  bottom: var(--addit-axis-text-margin);
}

.flex-dir-column + .svg-container > .down{
  fill: blue;
  display: inline;
}

.flex-dir-column + .svg-container > .right {
  fill: red;
  display: inline;
}

.flex-dir-row-rev::before {
  position: absolute;
  content: 'Основная ось Влево';
  color: blue;

  bottom: var(--main-axis-text-margin);
}

.flex-dir-row-rev::after {
  position: absolute;
  content: 'Вспомогат ось Вниз';
  color: red;

  bottom: var(--addit-axis-text-margin);
}

.flex-dir-row-rev + .svg-container > .left {
  fill: blue;
  display: inline;
}

.flex-dir-row-rev + .svg-container > .down {
  fill: red;
  display: inline;
}

.flex-dir-column-rev::before {
  position: absolute;
  content: 'Основная ось Вверх';
  color: blue;

  bottom: var(--main-axis-text-margin);
}

.flex-dir-column-rev::after {
  position: absolute;
  content: 'Вспомогат ось Вправо';
  color: red;

  bottom: var(--addit-axis-text-margin);
}

.flex-dir-column-rev + .svg-container > .up {
  fill: blue;
  display: inline;
}

.flex-dir-column-rev + .svg-container > .right {
  fill: red;
  display: inline;
}